#add-rect{
    background-color: red;
}
#add-circle {
    background-color: blue;
}

#add-triangle {
    background-color: green;
}

#canvas{
    border: 1px solid gray;
}

#show-elements {
    max-height: 450px;
    overflow: auto;
}

#show-elements li {
    list-style-type: none;
}

.full-height {
    height: 100vh;
}

.content {
    margin-top: 40px;
}

.title {
    font-weight: bold;
}

.top-sect {
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.btn-actions {
    padding: 15px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0 15px 20px 15px;
    border-radius: 3px;
    .btn{
        color: #fff;
    }
}

#canvas {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 1px solid #eee;
}
.left-sidebar {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 1px solid #eee;
    padding-top: 15px;
    border-radius: 3px;
}

#show-elements {
    margin-top: 35px;
}

.list-group-item {
    margin-bottom: 10px;
    display: flex;
}
.btn{
    font-weight: bold !important;
}

.remove-item{
    height: 20px;
    padding: 6px;
    line-height: 0;
}



